@model IEnumerable<blobstorage.Models.CustomerEntity>


<h1>Search Group Data details:</h1>

<table border="1">
    <thead>
    <tr>
        <th>Customer's Family Name</th>
        <th>Customer's Given Name</th>
        <th>Customer's Address</th>
        <th>Customer's Email</th>
        <th>Customer's Birth Date</th>
        <th>Customer's Register Date</th>
        <th>Delete Action</th>
    </tr>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.PartitionKey</td>
            <td>@customer.RowKey</td>
            <td>@customer.Address</td>
            <td>@customer.Email</td>
            <td>@customer.BirthDate</td>
            <td>@customer.Timestamp</td>
            <td>
                <a asp-route-partitionkey="@customer.PartitionKey" asp-action="DeletePage" asp-controller="Tables">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    </thead>
</table>