@model Microsoft.WindowsAzure.Storage.Table.TableResult

<center>
    <h1>Get Single Customer information from Table Storage</h1>
    <br/>
    <hr/>
    <br/>

    <table border="1">
        <tr>
            <th>Customer's Family Name</th>
            <th>Customer's Given Name</th>
            <th>Customer's Address</th>
            <th>Customer's Email</th>
            <th>Customer's Birth Date</th>
            <th>Customer's Register Date</th>
            <th>Delete Action</th>
        </tr>
        <tr>
            @{ var displayResult = Model.Result as blobstorage.Models.CustomerEntity; }
            <td>@displayResult.PartitionKey</td>
            <td>@displayResult.RowKey</td>
            <td>@displayResult.Address</td>
            <td>@displayResult.Email</td>
            <td>@displayResult.BirthDate</td>
            <td>@displayResult.Timestamp</td>
            <td>
                <a asp-route-partitionkey="@displayResult.PartitionKey" 
                   asp-route-rowkey="@displayResult.RowKey" 
                   asp-controller="Tables" 
                   asp-action="DeletePage">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    </table>
</center>